


<body>
        <title> Forgotpassword page</title>
        <link rel="stylesheet" type="text/css" href="/css/forgotPassword.css">
    <div class="login-box">
        <img src="/assets/chatapp.png" class="enter">
        <h1>Forgot password</h1>
        <form name="myform" novalidate>
            <P>Email-Id</P>
            <input type="email" name="email" ng-model="email" placeholder="Enter email">            
            <span ng-show="myform.email.$dirty && myform.email.$invalid">
                    <span ng-show="myform.email.$error.required">email required</span>
                    <span ng-show="myform.email.$error.email">invalid email</span>
                </span>

            <input type="submit" name="submit" ng-click="forgotpassword()" ng-disabled="myform.user.$dirty && myform.user.$invalid ||
  myform.email.$dirty && myform.email.$invalid">

        </form>
    </div>

</body>

