<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forgot password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <form>
        <h1>Forgot password ?</h1>
        <h4>please enter the email id registered on your account</h4>
       <label for="Email" >EmailId</label>
       <input type="email" placeholder="enter EmailId"><br>
       <input type="submit" value="Reset password">
       <a href="login.html">login</a>
    </form>
</body>
</html> -->
<!DOCTYPE html>
<html>

<head>
    <title> Forgotpassword page</title>
    <link rel="stylesheet" type="text/css" href="/css/forgotPassword.css">
</head>

<body>
    <div class="login-box">
        <img src="/assets/chatapp.png" class="enter">
        <h1>Forgot password</h1>
        <form name="myform" novalidate>
            <P>Email-Id</P>
            <input type="email" name="emailid" ng-model="emailId" placeholder="Enter email" required>
            <span ng-show="myform.email.$dirty && myform.email.$invalid">
                <span ng-show="myform.email.$error.required">email required</span>
                <span ng-show="myform.email.$error.email">invalid email</span>
            </span>

            <input type="submit" name="submit" onclick="forgotpassword()">
            <a ui-sref="resetPassword">Reset Password</a>

        </form>
    </div>

</body>

</html>