<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RegistrationPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <style>
    h1{
        color:chartreuse;
        align-content: center;
        text-align: center;
    }
     .reg{
        
        align-content: center;
        text-align: center;
        display:flex;
	align-items: center;
	justify-content: center;
    }
    
    .my-form{
         padding: 20px;

    } 
    .my-form.reg{
        padding-bottom:15px; 
    }
    </style>
    <script src="main.js"></script>
</head>

<body>
    <form class="my-form">
        <h1>Registration Page</h1>
        <div class="reg">
        <label for="NAME">NAME</label>
        <input type="text" placeholder="Enter name"><br>
        </div>
        <div class="reg">
        <label for="EMAIL">EMAILID</label>
        <input type="email" placeholder="Enter mailId"><br>
        </div>
        <div class="reg">
        <label for="password">PASSWORD</label>
        <input type="password" placeholder="Enter password"><br>
    </div>
    <div class="reg">
        <label for="CONFIRM PASSWORD">CONFIRM PASSWORD</label>
        <input type="password" placeholder="Re-enter the password"><br>
    </div>
        <input type="submit" value="Register">
        <a href="login.html">login</a>
    
    </form>
</body>

</html> -->
<!DOCTYPE html>
<html>
        <head>
            <title> Registration page</title>
            <link rel="stylesheet" type="text/css" href="/css/registration.css">   
        </head>
            <body>
            <div class="login-box">
            <img src="assets/chatapp.png" class="enter">
                <h1>Register Here</h1>
                    <form>
                    <p>Username</p>
                    <input type="text" name="username" ng-model="username" placeholder="Enter Username" required>
                    <P>Email-Id</P>
                    <input type="email" name="emailid" ng-model="email" placeholder="Enter email" required>
                    <p>Password</p>
                    <input type= "password" name="password" ng-model="password" ng placeholder="Enter Password" required minlength="6" required autocomplete="on" title="Must contain  at least 6 or more characters">
                    <p>Confirmpassword</p>
                    <input type= "password" name="confirmpassword" ng-model="confirmPassword" placeholder="Enter confirmPassword" required minlength="6" required autocomplete="on" title="Must contain  at least 6 or more characters">
                    <input type="submit" name="submit" onclick="register()" value="Register">
                    <a ui-sref="forgotPassword.html">Forgot Password</a>
                    |
                    <a href="login.html">Login</a>       
                    </form>
                    </div>

                    
            
            </body>
        </html>